
<div class="content" role="main">
  <div class="toolbar" role="banner">
    <div class="d1">
      <img class="toolbar-logo"
      width="80"
      alt="Alpega Logo"
      src="https://www.alpegagroup.com/typo3conf/ext/sitetemplate/Resources/Public/mediathek/img/alpega_logo.svg"
      />
      <div class="toolbar-text">Where in the world?</div>
    </div>

    
    <div class="d2">
      <span class="fa fa-moon-o"></span>
      {{ ' ' }}
      <div class="spacer">Dark mode</div>
    </div>

    

  </div>

      <router-outlet class="routing"></router-outlet>

</div>

