<div class="container">
  <button type="button" class="btn back" routerLink="/countries">
    <i class="bi bi-arrow-left"></i>
    Back
  </button>
  <div class="d1">
    <div class="d2">
      <img class="img-fluid country-flag-img" src="{{ country!.flags.png }}" alt="Card image cap" />
    </div>
    <div class="d3">
      <div class="d4">
        <h1 class=>{{ country?.name }}</h1>
      </div>
      <div class="d5">
        <div class="d7">
          <p class="text">
            <strong>Native Name: </strong>{{ country?.nativeName }}
          </p>
          <p class="text"><strong>Population: </strong>{{ country?.population | number:"1.0" }}</p>
          <p class="text"><strong>Region: </strong>{{ country?.region }}</p>
          <p class="text"><strong>Sub Region: </strong>{{ country?.subregion }}</p>
          <p class="text"><strong>Capital: </strong>{{ country?.capital }}</p>
        </div>
        <div class="d8">
          <p class="text">
            <strong>Top Level Domain: </strong>{{ country?.topLevelDomain }}
          </p>
          <p class="text"><strong>Currencies: </strong>{{ currencies }}</p>
          <p class="text"><strong>Languages: </strong>{{ languages }}</p>

        </div>
      </div>
      <div class="d6">
        <div class="d9">
          <p>Border Countries:</p>
        </div>
        <div class="d10">
          <span
            class="badge border-country-tag"
            *ngFor="let border of borderCountries"
            (click)="onClick(border)"
          >
            {{ border }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
