<div class="container country-detail-container">
  <button type="button" class="btn theme back-btn" routerLink="/countries">
    <i class="bi bi-arrow-left"></i>
    Back
  </button>
  <div class="country-text-flag-container">
    <div class="country-flag-container">
      <img class="img-fluid" src="{{ country!.flags.png }}" alt="{{country?.name}}" />
    </div>
    <div class="country-text-container">
      <div class="country-text-name-container">
        <h1 class=>{{ country?.name }}</h1>
      </div>
      <div class="country-text-columns">
        <div>
          <p class="text">
            <strong>Native Name: </strong>{{ country?.nativeName }}
          </p>
          <p class="text"><strong>Population: </strong>{{ country?.population | number:"1.0" }}</p>
          <p class="text"><strong>Region: </strong>{{ country?.region }}</p>
          <p class="text"><strong>Sub Region: </strong>{{ country?.subregion }}</p>
          <p class="text"><strong>Capital: </strong>{{ country?.capital }}</p>
        </div>
        <div>
          <p class="text">
            <strong>Top Level Domain: </strong>{{ country?.topLevelDomain }}
          </p>
          <p class="text"><strong>Currencies: </strong>{{ currencies }}</p>
          <p class="text"><strong>Languages: </strong>{{ languages }}</p>

        </div>
      </div>
      <div class="border-countries-container">
        <div class="border-countries-header">
          <strong>Border Countries:</strong>
        </div>
        <div class="border-country-tags">
          <span
            class="badge theme border-country-tag"
            *ngFor="let border of borderCountries"
            (click)="onClick(border)"
          >
            {{ border }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
