<div class="container country-list-container">
  <!--Filtering items-->
  <div class="filtering-items-container">
    <div class="input-group-container">
      <span class="input-group-text theme search-icon" id="basic-addon1"
        ><i class="bi bi-search"></i
      ></span>
      <input
        class="theme search-box"
        type="text"
        [(ngModel)]="listFilter"
        placeholder="Search for a country..."
      />
    </div>

    <div class="spacer"></div>

    <div ngbDropdown class="dropdown-container">
      <button
        class="btn btn-outline-primary theme dropdown-btn"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Filter by Region
        <i class="bi bi-chevron-down"></i>
      </button>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="theme dropdown-body-container"
      >
        <button class="theme" ngbDropdownItem (click)="onClick('Africa')">
          Africa
        </button>
        <button class="theme" ngbDropdownItem (click)="onClick('America')">
          America
        </button>
        <button class="theme" ngbDropdownItem (click)="onClick('Asia')">
          Asia
        </button>
        <button class="theme" ngbDropdownItem (click)="onClick('Europe')">
          Europe
        </button>
        <button class="theme" ngbDropdownItem (click)="onClick('Oceania')">
          Oceania
        </button>
      </div>
    </div>
  </div>

  <!--Country Cards-->
  <div class="country-cards-container">
    <div
      class="theme card"
      *ngFor="let country of filteredCountries"
      (click)="onClickRoute(country.name)"
    >
      <img
        class="card-img"
        src="{{ country?.flags?.png }}"
        alt="{{ country?.name }}"
      />
      <div class="card-body">
        <h4 class="card-title">{{ country.name }}</h4>
        <div class="container card-subtitles">
          <p class="card-text">
            <strong>Population: </strong
            >{{ country.population | number: "1.0" }}
          </p>
          <p class="card-text"><strong>Region: </strong>{{ country.region }}</p>
          <p class="card-text">
            <strong>Capital: </strong>{{ country.capital }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
