
.filter-row{
    display: flex;
    
    justify-content: space-between;
    margin-top: 100px;
}
.search-box-col{
    display: flex;
    justify-content: start;
    margin-left: 5%;
}
.dropdown-col{
    display: flex;
    justify-content: end;
    margin-right: 8%;
}

.country-cards-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px;
    margin: 5%;

    
    
}
.card{
    width: 30%;
}