.country-list-router {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  min-height: 100vh;
  
}

.filter {

  display: flex;
  flex-direction: row;

  justify-content: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-right: 1.5%;
  margin-left: 1.5%;
  padding: 0px;
  
  
  
}
.search-box {
  flex: auto;
  margin-left: -1%;
  background-color: white;
  box-shadow: 10px 0px 14px 4px rgba(0, 0, 0, 0.05);
  border: 0px;
  border-radius: 5px;
}

.bi{
  padding: 10px;
}

textarea:focus, input:focus{
  outline: none;
}
.search-icon {
  background-color: white;
  border: 0px;
  box-shadow: -5px 0px 14px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  
}

.spacer{
    flex: 4;
  }
  .dropdown {
    justify-content: end;
  
    
  }
  .dropdown-toggle::after {
    display: none;
    border: 0px;
}
  .dropdown-body{

  margin-top: 5px !important;
  border: 0px;
  width: auto;

  
}

.filter-by-region{
  padding: 15px;
  border: 0ch;
  border-radius: 5px;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1);
  
}

.country-cards {
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin-top: 5%;
}
.card-1 {
  flex-basis: 22%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  padding: 0%;
  font-family: "Poppins";
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 50%;
}

.card-title {
  font-size: medium;
  font-weight: bolder;
}

.card-subtext {
  align-content: center;
  margin-top: 18px;
  padding: 0%;
  background-color: white;
}
.card-text {
  margin: 0%;
  font-size: small;
}
@media screen and (max-width: 378px) {
  .filter{
    flex-direction: column;
  }
  .card-1 {
    flex-basis: 97%;
  }
}
