.container{
    display: flex;
    background-color: #F7F7F7;
    flex: 1;
    flex-direction: column;
}



.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}
.search-box{
    width: 40%;
}
.search-icon{
    margin-right: 5px;
}
.dropdown{
    width: 15%;
   
}

.country-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;

    
    
}
.card-1{
    margin-right: 40px;
    padding: 0%;
    font-family:'Poppins';
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.10);

}

.card-img-top{
    height: 50%;
}

.card-title{
    font-size: medium;
    font-weight: bolder;
}

.card-subtext{

    align-content: center;
    margin-top: 18px;
    padding: 0%;
    background-color: white;

}
.card-text{
    margin: 0%;
    font-size: small;
}